.button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: $main-color;
    border: 2px solid $main-color;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    transition: .3s all;
    z-index: 10;
    position: relative;
    &:hover {
        color: $main-color
    }
    &::after {
        content: "";
        background: #fff;
        border-radius: 5px;
        z-index: -1;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        transition: .3s all;
    }
    &:hover::after {
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        transition: .3s all;
    }   
    &::after {
        top: 0;
        bottom: 0;
        right: 100%;
        left: 0;
    }
    &_main {
        width: 300px;
        height: 50px;
        font-size: 16px;
        margin-top: 65px;
    }
    &_submit {
        width: 100%;
        height: 55px;
        font-size: 16px;
    }
    &_mini {
        width: 131px;
        height: 40px;
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .button {
        &:hover {
            color: #fff;
        }
        &:after {
            content: none;
        }
    }
}
@media (max-width: 575px) {
    .button {
        width: 120px;
        height: 30px;
        font-size: 11px;
        &_main {
            width: 100%;
            height: 40px;
            font-size: 16px;
            margin-top: 30px;
        }
        &_submit {
            width: 100%;
            height: 55px;
            font-size: 16px;
        }
    }
}
